﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcVueTest</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css" />
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a asp-action="Index">Home</a></li>
            <li><a asp-action="AllComponents">All components</a></li>
            <li><a asp-action="AxiosComponent">Axios component</a></li>
            <li><a asp-action="LeafletComponent">Leaflet component</a></li>
            <li><a asp-action="StaticTextComponent">Static text component</a></li>
        </ul>
    </nav>

    <div class="container" id="app">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; 2018 - MvcVueTest</p>
        </footer>
    </div>

    <script src="~/js/vendors~main.bundle.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
