<template>
  <div class="component">
    <h2>Axios component</h2>
    <p>This component doesn't do anything. It just declares a dependency to the Axios library to show the impact on the vendor bundle. </p>
    <button @click="dummyClick">Send empty axios GET request</button>
  </div>
</template>

<script>
const axios = require('axios');

export default {
  data() {
    return {};
  },
  methods: {
    async dummyClick() {
      await axios.get('');
    }
  }
};
</script>
