<template>
  <div class="component">
    <h2>Leaflet Component ({{statusMessage}})</h2>
    <div class="map" id="map"></div>
  </div>
</template>

<script>
const leafletLoader = () =>
  import(/* webpackChunkName: 'leaflet' */
  'leaflet');

export default {
  data() {
    return {
      map: null,
      loading: true
    };
  },
  computed: {
    statusMessage() {
      if (this.loading) return 'laddar karta';
      return 'karta laddad';
    }
  },
  async mounted() {
    let L = await leafletLoader();
    this.loading = false;
    this.map = L.map('map').setView([63.821, 20.272], 14);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(this.map);
  }
};
</script>

<style lang="css" scoped>
.map {
  min-height: 300px;
  height: 300px;
}
</style>
