﻿@{
    ViewData["Title"] = "Home Page";
}

<main>
    <h1>Home page</h1>
    <p>All Vue components have been included through dynamic Webpack imports. Webpack has also been setup to extract a shared vendor bundle as well as a app-bundle for custom code.</p>
    <p>The vendor and app bundle is included in the _Layout.cshtml file and loaded on all pages. The dynamic imports than loads the individual Vue components where-ever they are needed.</p>

</main>
