﻿body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.navbar>ul {
  list-style: none;
  margin: 0;
}

.navbar>ul>li {
  display: inline-block;
  padding: 10px 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.component {
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}